.draw-cell{
    border: solid 1px gray; 
    text-align: end;
    font-size: 14px;
    color: gray;
}
.draw-head-cell{
    border: solid 1px gray; 
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.draw-row{
    display: grid;
    grid-template-columns: 2fr repeat(7, 1fr);
    border: solid 1px rgb(80, 75, 75); 
}
.color-green{
    background: rgba(0, 128, 0, 0.391);
}
.color-red{
    background: rgba(255, 0, 0, 0.302);
}