.container-card-event{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 5px ;
    height: 62px;
    background: blue;
    color: #fff;
    font-weight: 700;
    margin: 15px 0;
}
.data-event{
    display: flex;
    align-items: center;
}
.padding{
    padding: 0px 10px;
}
.number{
    font-size: 18px;
}
.gray{
    background: gray;
}